.designer-panel-tabs {
  & > .ant-tabs-nav {
    margin-bottom: 0;
  }
  & .ant-tabs-nav-list {
    display: flex;
    width: 100%;
    & .ant-tabs-tab {
      flex: 1;
      border-radius: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      &.ant-tabs-tab-active {
        border-bottom-color: rgba(5, 5, 5, 0.13) !important;
      }
    }
  }
}
