{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@modou/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
