.header{
	height: 48px!important;
	line-height: 48px!important;
	padding: 0!important;
	z-index: 999999!important;
}
.headerLogoWrapper{
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	:global(img){
		height: 32px;
}
}
.headerRight{
	padding-right: 16px;
}
.sider{
	z-index: 2000!important;
	position: relative!important;
	padding:0!important;
	font-size:16px!important;
	:global(.ant-layout-sider-trigger){
		display: none;
	}
	:global(.ant-menu-item){
		padding: 0 calc(50% - 16px / 2) !important;
		border: 1px solid transparent !important;
		&::after{
			display: none !important;
		}
	}
	:global(.ant-menu-item-icon){
		font-size: 16px!important;
		//line-height: 40px;
	}
}
